<!-- app/views/users/index.html.erb -->

<h1>List of users</h1>

<!-- Inline form to add a new user right from the index (optional) -->
<!-- Note that we nest the username inside "user[username]" so strong params can read it -->
<%= form_with(url: users_path, local: true) do %>
  <label for="user_username">Username</label>
  <%= text_field_tag "user[username]", nil, placeholder: "Enter a username..." %>
  <%= submit_tag "Add user" %>
<% end %>

<table border="1" cellpadding="5" cellspacing="0">
  <thead>
    <tr>
      <th>ID</th>
      <th>Username</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.username %></td>
        <td>
          <!-- Show details link -->
          <%= link_to "Show details", user_path(user) %>
          |
          <!-- Edit link -->
          <%= link_to "Edit", edit_user_path(user) %>
          |
          <!-- Delete link (uses :delete method) -->
          <%= link_to "Delete",
                      user_path(user),
                      method: :delete,
                      data: { confirm: "Are you sure you want to delete this user?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<!-- Optional separate link to a dedicated "new user" form page -->
<%= link_to "Add a new user", new_user_path %>
